@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css");
* {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  row-gap: unset;
}

@media (min-width: 300px) {
  header {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header h1 {
    padding: 5%;
    font-weight: 600;
  }
  header form {
    display: none;
  }
  nav {
    width: 60%;
  }
  nav > ul {
    display: none;
  }
  nav details {
    position: relative;
    width: 100%;
  }
  nav details > summary {
    padding: 5%;
    font-size: 28px;
  }
  nav details ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    row-gap: unset;
    list-style-type: none;
    width: 100%;
    padding: 0;
    z-index: 1;
  }
  nav details li {
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 0.1px solid white;
  }
  nav details a {
    display: block;
    width: 100%;
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 1%;
  }
  footer {
    height: 10vh;
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    align-items: center;
    justify-content: center;
  }
  footer aside {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 3vh;
         column-gap: 3vh;
  }
  footer i {
    font-size: 20px;
  }
  th {
    font-size: 20px;
    color: #555273;
  }
  th, td {
    border-bottom: 1px solid #65799B;
    width: 70%;
    padding: 2%;
    text-align: center;
  }
  td {
    font-size: 14px;
  }
  .gallery figure aside:nth-child(1) {
    background-image: url("../img/gallery-c-1.jpg");
  }
  .gallery figure aside:nth-child(2) {
    background-image: url("../img/gallery-c-2.jpg");
  }
  .gallery figure aside:nth-child(3) {
    background-image: url("../img/gallery-c-3.jpg");
  }
  .gallery figure aside:nth-child(4) {
    background-image: url("../img/gallery-c-4.jpg");
  }
  .gallery figure aside:nth-child(5) {
    background-image: url("../img/gallery-c-5.jpg");
  }
  .gallery figure aside:nth-child(6) {
    background-image: url("../img/gallery-c-6.jpg");
  }
  .gallery figure aside:nth-child(7) {
    background-image: url("../img/gallery-c-7.jpg");
  }
  .gallery figure aside:nth-child(8) {
    background-image: url("../img/gallery-c-8.jpg");
  }
  .gallery {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: unset;
    align-items: center;
    justify-content: center;
  }
  .gallery figure {
    width: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    -moz-column-gap: 1vh;
         column-gap: 1vh;
    row-gap: 1vh;
    align-items: center;
    justify-content: center;
  }
  .gallery figure aside {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 40vw;
    height: 35vw;
  }
  .gallery figure aside:hover {
    width: 45vw;
    height: 40vw;
    transition: 0.4s;
  }
  main {
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
    align-items: center;
    position: relative;
  }
  main figcaption {
    text-align: center;
  }
  main > section {
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 85%;
    padding: 5%;
  }
  main > section > figure {
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
  }
  main > section > article {
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
  }
  main > section > article div {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 4vh;
         column-gap: 4vh;
    align-items: center;
  }
  main > section > article i {
    font-size: 26px;
  }
  main > section > article div:first-child i {
    color: #66BFBF;
  }
  main > section > article div:nth-child(2) i {
    color: #FFC54D;
  }
  main > section > article div:last-child i {
    color: #FF0063;
  }
  main > section > article p {
    font-size: 16px;
    width: 80%;
    line-height: 1.5;
  }
  main > details {
    position: absolute;
    left: 10%;
    bottom: -1%;
    border: 0px none transparent;
    height: 10vh;
    padding: 3vh;
  }
  main > details summary {
    color: #555273;
  }
  main > details p {
    position: absolute;
    font-size: 14px;
    background-color: white;
  }
  aside {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 35vh;
  }
  .first {
    padding-top: 5vh;
  }
  .first aside {
    background-image: url("../img/bleeding-heart.jpg");
  }
  .second aside {
    background-image: url("../img/bear-grass.jpg");
  }
  .third {
    padding-bottom: 5vh;
  }
  .third aside {
    background-image: url("../img/stinging-nettle.jpg");
  }
  .recipe aside {
    background-image: url("../img/nettle-soup.jpg");
    background-position: 60% 40%;
    height: 50vh;
  }
  .recipe figcaption {
    color: dimgray;
  }
  .recipe p {
    width: 95%;
    padding: 1%;
    text-align: justify;
  }
  .recipe > article {
    row-gap: 1vh;
  }
}
@media (min-width: 700px) {
  header h1 {
    font-size: 40px;
  }
  header nav {
    width: 40%;
  }
  header nav details > summary {
    font-size: 40px;
    padding-left: 5vh;
  }
  header nav details a {
    font-size: 24px;
  }
  main {
    row-gap: 0;
  }
  main aside {
    height: 25vh;
    width: 25vh;
  }
  main > section {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 1vh;
         column-gap: 1vh;
    width: 90%;
    padding: 3%;
  }
  main > section > figure {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
  }
  main > section > article {
    padding-top: 4%;
  }
  main .first {
    padding-top: 10vh;
  }
  main .second {
    flex-direction: row-reverse;
  }
  main .recipe {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  main .recipe > figure {
    padding-top: 5%;
  }
  main .recipe > figure > aside {
    height: 30vh;
    width: 30vh;
  }
  main .recipe p {
    text-align: center;
  }
  main .recipe td {
    padding: 0;
  }
  main .recipe > article {
    padding: 0;
  }
  main .recipe > article p {
    padding: 0;
    line-height: 1;
  }
  main > details summary {
    padding-top: 3vh;
  }
  main > details p {
    background-color: white;
  }
}
@media (min-width: 1000px) {
  header {
    height: 10vh;
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 5vh;
  }
  header details {
    display: none;
  }
  header h1 {
    font-size: 42px;
  }
  nav {
    width: 100%;
  }
  nav > ul {
    width: 100%;
    display: flex;
    margin: 0;
    list-style-type: none;
    justify-content: center;
    text-align: center;
    -moz-column-gap: 5vh;
         column-gap: 5vh;
  }
  nav a {
    padding: 3%;
    text-decoration: none;
    color: black;
    font-size: 22px;
    text-transform: uppercase;
  }
  nav a:hover {
    color: #1A4D2E;
  }
  main {
    row-gap: 5vh;
  }
  main > section {
    -moz-column-gap: 20vh;
         column-gap: 20vh;
    width: 80%;
    padding: 3%;
  }
  main > section > figure {
    -moz-column-gap: 3vh;
         column-gap: 3vh;
  }
  main > section > article div {
    width: 80%;
    font-size: 22px;
  }
  main .gallery figure {
    row-gap: 3vh;
    -moz-column-gap: 3vh;
         column-gap: 3vh;
  }
  main .gallery aside {
    height: 45vh;
    width: 45vh;
  }
  main .gallery aside:hover {
    width: 50vh;
    height: 50vh;
    transition: 0.4s;
  }
  main aside {
    height: 60vh;
    width: 60vh;
  }
  main .recipe > figure > aside {
    height: 60vh;
    width: 60vh;
  }
  main .recipe td {
    font-size: 16px;
  }
  main .recipe p {
    font-size: 20px;
  }
  main .recipe > article {
    padding-top: 5vh;
    row-gap: 3vh;
  }
}/*# sourceMappingURL=plants.css.map */