@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css");

$firstColor : #1A4D2E;
$secondColor : #464E2E;
$thirdColor : #ACB992;
$fourthColor : #E9E5D6;

$fontFamily : 'Ubuntu', sans-serif;

// fontfamilly
// defalutFontColor
// 

