@media (min-width: 700px) {
 
    header {

        h1 {
            font-size: 40px;
        }
     
        nav {
            width: 40%;
       
            details {
              > summary {
                  font-size: 40px;
                  padding-left: 5vh;
              }
             
              a {
                  font-size: 24px;
              }
            }
     
        }
    }
 
    main {
        row-gap: 0;
 
        aside {
            height: 25vh;
            width: 25vh;
        }
 
        > section {
            @include flexRow (1vh);
            width: 90%;
            padding: 3%;
 
            > figure {
                @include flexColumn(1vh);
            }
 
            > article {
                padding-top: 4%;
            }
        }
 
        .first {
            padding-top: 10vh;
        }
 
        .second {
            flex-direction: row-reverse;
        }
 
        .recipe {
            flex-wrap: wrap;
            justify-content: space-evenly;
 
            > figure {
                padding-top: 5%;
 
                > aside {
                    height: 30vh;
                    width: 30vh;
                }
            }
 
            p {
                text-align: center;
            }
 
            td {
                padding: 0;
            }
 
            > article {
                padding: 0;
 
                p {
                    padding: 0;
                    line-height: 1;
                }
            }
    
        }
        
        > details {

            summary {
                padding-top: 3vh;
            }
 
            p {
                background-color: white;
            }
        }
    }

}