@media(min-width: 300px){

  header{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    h1 {
        padding: 5%;
        font-weight: 600;
    }
    
    form {
       display: none;
    }
  }

  nav {
    width: 60%;
    > ul {
        display: none;
    }

    details {
      position: relative;
      width: 100%;
  
      > summary {
          padding: 5%;
          font-size: 28px;
      }
  
      ul {
          position: absolute;
          @include flexColumn;
          list-style-type: none;
          width: 100%;
          padding: 0;
          z-index: 1;
      }
  
      li {
          background-color: rgba(0, 0, 0, 0.2);
          border-bottom: 0.1px solid white;
      }
  
      a {
          display: block;
          width: 100%;
          color: white;
          text-decoration: none;
          font-size: 20px;
          padding: 1%;
          
      }
  }
  }

  footer {
    height: 10vh;
    @include flexColumn(3vh);
    align-items: center;
    justify-content: center;
 

    aside {
      @include flexRow(3vh);
    }
  
    i {
      font-size: 20px;
    }
  }

  th {
    font-size: 20px;
    color:#555273;
  }

  th, td {
    border-bottom: 1px solid #65799B;
    width: 70%;
    padding: 2%;
    text-align: center;
  }

  td {
    font-size: 14px;
  }

  @for $i from 1 to 9 {
    .gallery{
      figure {
        aside:nth-child(#{$i}){
          background-image: url("/img/gallery-#{$i}.jpg");
        }
      }
    }
  }

  .gallery{
    width: 100%;
    @include flexColumn;
    align-items: center;
    justify-content: center;

    figure {
      width: 95%;
      @include flexWrap(1vh,1vh);
      align-items: center;
      justify-content: center;

      aside {
        @include Bg-img;
        width: 40vw;
        height: 35vw;

        &:hover{
          width: 45vw;
          height: 40vw;
          transition: .4s;
        }
      }

      > aside:last-child{
        display: none !important;
      }
    }
  }

  main {
    @include flexColumn(5vh);
    align-items: center;
    position: relative;

    figcaption {
      text-align: center;
    }

    > section {
      @include flexColumn(5vh);
      height: fit-content;
      width: 85%;
      padding: 5%;

      > figure {
        @include flexColumn(5vh);
      }
  
      > article {
        @include flexColumn(3vh);
  
        div {
          @include flexRow(4vh);
          align-items: center;
        }
  
        i {
          font-size: 26px;
        }

        div:first-child i {
          color:#66BFBF;
        }

        div:nth-child(2) i{
          color: #FFC54D;
        }

        div:last-child i{
          color: #FF0063;
        }
  
        p {
          font-size: 16px;
          width: 80%;
          line-height: 1.5
        }
      }
    }

    > details {
      position: absolute;
      left: 10%;
      bottom:-1%;
      border:0px none transparent;
      height: 10vh;
      
      summary {
        color: #555273;
      }

      p {
        position: absolute;
        font-size: 14px;
      }
    }
  }

  aside {
    @include bg-img;
    height: 35vh;
  }

  .first {
    padding-top: 5vh;

     aside {
      background-image: url("/img/blackcurrant.jpg");
     }
  }

  .second {
    aside {
      background-image: url("/img/bearberries.jpg");
    }
  }

  .third {
    padding-bottom: 5vh;

    aside {
      background-image: url("/img/gooseberry.jpg");
    }
  }

  .recipe {
    aside {
      background-image: url("/img/gooseberry-cake.jpg");
      background-position: 60% 40%;
      height: 50vh;
    }

    figcaption {
      color: dimgray;
    }

    p {
      width: 95%;
      padding: 1%;
      text-align: justify;
    }

    > article {
      row-gap: 1vh;
    }
  }
}